<h3><%= current_user.name.capitalize  %>'s Virtual Wine Cellar</h3>

<ul>
  <%@bottles.each do |bottle|%>
    <li><a href="/bottles/<%="#{bottle.id}"%>"> <%=Winery.find(bottle.winery_id).name%>: <%=bottle.wine_type%>  <%=bottle.year%> - $<%=sprintf('%.2f', bottle.price)%></a></li>
  <%end%>
</ul>
<br />


<a href="/bottles/new"><button>Add Bottle</button></a><br />
<br>
<a href="/owners/sort"><button>Filter Your Bottles</button></a>
<a href="/bottles"><button>All Bottles of All Owners</button></a>
<a href="/wineries"><button>All Wineries of All Owners</button></a>
<a href="/logout"><button>Logout</button></a>
