<h1>Update Bottle</h1>

<form action="/bottles/<%=@bottle.id%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">


  <label>Choose a wine type:</label><br />
  <%@bottle_types.each do |bottle|%>
    <input type="radio" name="type" value="<%=bottle.wine_type%>" id="wine_type"<%='checked' if @bottle.wine_type == bottle.wine_type %>><%=bottle.wine_type%></input><br />
  <%end%>
  <label>Or add a new wine type:</label><input type="text" name="wine_type"></br>
  <br></br>

  <label>Choose a winery:</label><br />
  <%@bottle_wineries.each do |bottle|%>
    <input type="radio" name="winery_name" value="<%=bottle.winery.name%>" id="winery_name"<%='checked' if @bottle.winery_id == bottle.winery_id %>><%=bottle.winery.name%></input><br />
  <%end%>
  <label>Or add a New Winery:</label><input type="text" name="winery"></br>
  <br></br>

  <label>Year:</label>
  <input type="text" name="year" id="year" value="<%=@bottle.year%>"><br />
  <label>Price:</label>
  <input type="text" name="price" id="price" value="<%=@bottle.price%>"><br />

  <input type="submit" value="Edit Bottle">
</form>
<br><br />
<a href="/owners/cellar">Return to your Cellar</a><br />
