<h1>Update Bottle</h1>

<form action="/bottles/<%=@bottle.id%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">


  <label>Choose a wine type:</label><br />
  <%@bottle_types.each do |bottle|%>
    <input type="radio" name="type" value="<%=bottle.wine_type%>" id="wine_type" <%='checked' if @bottle.wine_type == bottle.wine_type %>><%=bottle.wine_type%><br />
  <%end%>
  <label>Or add a new wine type:</label><input type="text" name="wine_type">
  <br></br>

  <label>Choose a winery:</label><br />
  <%@wineries.each do |winery|%>
    <input type="radio" name="winery_name" value="<%=winery.name%>" id="winery_name"<%='checked' if @bottle.winery_id == winery.id %>><%=winery.name%><br />
  <%end%>
  <label>Or add a New Winery:</label><input type="text" name="winery">
  <br></br>

  <label>Year:</label>
  <input type="text" name="year" id="year" value="<%=@bottle.year%>"><br />
  <label>Price:</label>
  <input type="text" name="price" id="price" value="<%=@bottle.price%>"><br />
  <br>
  <button>Submit</button>
</form>

<br>
<a href="/cellar"><button>Return to your Cellar</button></a><br />
