<h3>Virtual Wine Cellar Bottles</h3>

<ul>
  <% @bottles.each do |bottle|%>
    <li><a href="/bottles/<%="#{bottle.id}"%>"><%= bottle.winery.name%>: <%=bottle.wine_type%>  <%=bottle.year%> - $<%=sprintf('%.2f', bottle.price)%></a></li>
  <%end%>
</ul>
<br />

<a href="/cellar"><button>Back to Your Cellar</button></a><br />
