<h3>Your Bottle</h3>

<p><%=Winery.find(@bottle.winery_id).name%>: <%=@bottle.wine_type%>  <%=@bottle.year%> - $<%=sprintf('%.2f', @bottle.price)%></p>


<form method="post" action="/bottles/<%= @bottle.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete"><br />
  <input type="submit" value="Delete Bottle">
</form>



<a href="<%=@bottle.id%>/edit">Edit Bottle</a><br />
<a href="/wineries/<%="#{@bottle.winery_id}"%>/edit">Edit Winery</a><br />

<a href="/owners/cellar">Return to your Cellar</a><br />
